.myPoojaBooking {
  padding: 20px;
  background-color: #f9f9f9;
}

.myPoojaBooking h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.bookings-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booking-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 0;
  width: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.booking-card h2 {
  margin: 0 0 10px;
  font-size: 20px;
  color: #333;
}

.booking-card p {
  margin: 5px 0;
  font-size: 16px;
  color: #555;
}

.booking-card p strong {
  color: #333;
}

@media (max-width: 768px) {
  .booking-card {
    width: 100%;
  }
}

.book-button{
  background-color: orange;
  color: #fff;
  height: 40px;
  width: 120px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}